.contenu{
    margin: auto;
    width: 100%;
}
.cadre{
     width: 100%;
    height: 80px;
    border: 1px solid black;
    position: relative; 
}
.cnx{
   
     background-color: green;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 15px;
    
    text-align: center; 

}
.image input{
    margin: 15px;
    width: 40%;
    height: 80px;
    border-radius: 15px;
    background-color: rgba(229, 223, 223, 0.786);
   margin-left: 30%;


}
.inscri{
    background-color: rgb(251, 111, 10);
    width: 250px;
    height: 80px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 54%;
    margin-top: 10px;

}
.profil img{
    width: 100%;
    height: 100%; 
     border-radius: 50%;
     
}
.profil{
    width: 40px;
    height: 40px;
    
  
}
.premier{
    display: flex;
    justify-content: flex-end;
    border: 2px solid red;
    padding: 15px;
    margin-bottom: 20px;
    align-items: center;
}
.dcnx{
    margin-left: 15px;
    color: red;
    font-weight: bold;
}
.bouton_cnx{
    margin-left: 64%;
    background-color: pink;
    margin-top: 30px;
    padding: 15px;
}
.fond{
    background-color: rgb(179, 154, 203);
    min-height: 100vh;

}
body{
    padding: 0;
    margin: 0;
}
.post_fichier input{
    width: 250px;
    background-color: pink;
    margin-left: 0;
    border-radius: 15px;
   height: 40px;
   margin-bottom: 20px;


}
.post_fichier{
    margin-left: 30px;
}
.post_fichier textarea{
   margin-left: 0;
}
.post{
  
 
    display: flex;
    align-items: center;
    justify-content: space-around;

   
}
.postimg{
    width: 500px;
    height:400px;
    padding: 30px;
}
.postimg img{
    width: 100%;
    height: 100%;
    
}
i{
    color: red;
}